
body {
    height: 100vh;
    background: url(../img/1.png)  no-repeat center fixed;
    background-size: cover;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1% 6%;
    display: flex;
    gap: 4%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.header_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header_menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.header-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-menu-welcome{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    
}

.header-menu-item:last-child::before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}


.header-logo,
.header-menu-item-link,
.header-menu-welcome-login,
.header-menu-welcome-signup {
transition: 0.2s;

text-decoration: none;
color: #FFFFFF;
font-family: 'Ubuntu';
    
}

.header-logo:hover,
.header-menu-item-link:hover,
.header-menu-welcome-login:hover,
.header-menu-welcome-signup:hover {
    filter: invert(59%) sepia(11%) saturate(1963%) hue-rotate(96deg) brightness(100%) contrast(99%);
}


.signup {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-window {
    width: 444px;
    height: 584px;
    padding: 1.5% 3%;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.signup-window::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    background: #3cb878;
}


.signup-window-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.signup-window-title-header {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    
    color: #434343;
   
}

.signup-window-login-btn {
    box-sizing: border-box;
    font-size: 14px;
    color: #3cb878;
    transition: 0.2s;
    text-decoration: none;
}

.signup-window-login-btn:hover {
    color: #01813f;
    text-decoration: underline;
}


.signup-window-social {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 6%;
}

.signup-window-social-btn {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-width: 49%;
    padding: 2% 4%;
    transition: 0.2s;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;

 
}

.signup-window-social-btn-img {
    flex-grow: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-window-social-btn-img::after {
    content: "";
    width: 1px;
    height: 100%;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook {
    background: #305db8;
}

.facebook:hover {
    background: #022263;
}

.facebook .signup-window-social-btn-img::after {
    background: #0a162f;
}

.google {
    background: #df4a32;
}

.google:hover {
    background: #ab1f09;
}

.google .signup-window-social-btn-img::after {
    background: #2b0d09;
}

.signup-window-social-btn-title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-window-divider {
    font-size: 14px;
    color: #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.signup-window-divider::before,
.signup-window-divider::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #f2f2f2;
}


.signup-window-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup-window-form-field {
    font-size: 14px;
    color: #434343;
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 4%;
    transition: 0.5s;
   
}

.signup-window-form-field::placeholder {
    font-size: 14px;
    color: #bebebe;
}

.signup-window-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.signup-window-form-terms-conditions {
    width: 100%;
    display: flex;
    
}

.signup-window-form-terms-conditions-checkbox {
    height: 1em;
    width: 1em;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
}

.signup-window-form-terms-conditions-checkbox:not(:checked):hover {
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' opacity='0.2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%233CB878' stroke-width='2'/%3E%3C/svg%3E") no-repeat center center;
    background-size: 90%;
}

.signup-window-form-terms-conditions-checkbox:checked {
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%233CB878' stroke-width='2'/%3E%3C/svg%3E") no-repeat center center;
    background-size: 90%;
}

.signup-window-form-terms-conditions-title {
    font-size: 14px;
    color: #434343;
    cursor: default;
    padding-left: 2%;
    
}

.signup-window-form-terms-conditions-link {
    color: #3cb878;
    transition: 0.2s;
    text-decoration: none;
    
}

.signup-window-form-terms-conditions-link:hover {
    color: #01813f;
    text-decoration: underline;
}

.signup-window-form-btn {
background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;

    width: 100%;
    text-align: center;
    padding: 3%;
    transition: 0.2s;
    
}

.signup-window-form-btn:hover {
    background: #01813f;
}



